:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: grid;
  place-content: center;
}

h1 {
  font-size: 3.2em;
  color: rgb(255, 255, 255);
  line-height: 1.1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border: 2px solid #ffffff;
  text-align: center;
}

th {
  background-color: #4d4c4c;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.5px;
}
